body{
	background-color: rgba(206, 222, 250, 0.6);
	overflow-x: hidden;
}
*{
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal
}
h1{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	opacity: 0.9;
}

.asteric{
	color: red;
}

#bottomP{
	padding-bottom: 20px;
	color: red;
	opacity: 1;
}

.top-bar{
	height: 12px;
	width: 100%;
	background-color: rgba(26, 115, 232, 0.9);
	max-width: 623px;
	margin: 0px auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
	
.info-box{
	height: auto;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: -20px;
	max-width: 620px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.info-box h4{
	border-bottom: 1px solid rgba(211, 211, 211, 0.75);
	border-top: 1px solid rgba(211, 211, 211, 0.75);
	height: 35px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: 600;
	opacity: 0.6;
}

.info-box img{
	padding-right: 30px;
	padding-top: 52px;
	float: right;
}

.info-box h4 a{
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.info-box h4 a:hover {
    color: darkblue;
    text-decoration: none;
}

.info-box p{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -10px;
	margin-bottom: -12px;
	font-size: 15px;
	opacity: 0.8;
}

.switch-account{
	color: blue;
}

.email{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 20px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.email label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	font-size: 14;
	opacity: 0.8;
}

.email input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

input:focus {
    border-color: #66afe9;
    outline: none;
}

.Full-Name{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.Full-Name label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	font-size: 14;
	opacity: 0.8;
}

.Full-Name input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

input:focus {
    border-color: #66afe9;
    outline: none;
}

.Phone-Number{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.Phone-Number label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.Phone-Number input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}


input:focus {
    border-color: #66afe9;
    outline: none;
}

.nok{
	height: 170px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.nok label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.nok p{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	box-sizing: border-box;
	font-size: 15px;
	opacity: 0.8;
}

.nok input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

input:focus {
    border-color: #66afe9;
    outline: none;
}

.PAY-FEES{
	height: 150px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.PAY-FEES label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.PAY-FEES input[type="radio"]{
    margin: 20px 20px 8px 20px;
    box-sizing: border-box;
    font-size: 14px;
    transform: scale(1.5);
    cursor: pointer;
    vertical-align: -2.5px;
}

.WHO-PAYS-FEES{
	height: 200px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.WHO-PAYS-FEES label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.WHO-PAYS-FEES input[type="radio"]{
    margin: 20px 20px 8px 20px;
    box-sizing: border-box;
    font-size: 14px;
    transform: scale(1.5);
    cursor: pointer;
    vertical-align: -2.5px;
}

.Location{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.Location label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.Location input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

.school{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.school label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.school input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

.Reason{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.Reason label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.Reason input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

.How{
	height: 140px;
	width: 100%;
	background-color: ghostwhite;
	margin: 0px auto;
	margin-top: 10px;
	max-width: 620px;
	padding-top: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.How label{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 35px;
	line-height: 35px;
	opacity: 0.8;
}

.How input{
	width: 50%;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    transition: border-color 0.5s ease-out;
}

.response p{
	max-width: 620px;
	margin: 40px auto;
	opacity: 0.6;
}

.down{
	display: flex;
	flex-direction: row;
	margin: 0px auto;
	max-width: 620px;
	justify-content: space-between;
}

.down-bar{
	display: flex;
	flex-direction: row;
}

.submit input{
	margin-top: -40px;
	margin-left: 0px;
	padding: 10px 25px;
	background-color: rgba(26, 115, 232, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.submit input:hover{
	background-color: rgba(26, 115, 232, 0.9);
}

.clear input{
	float: right;
	margin-top: -10px;
	margin-right: -20px;
	padding: 10px 25px;
	background-color: transparent;
    color: rgba(26, 115, 232, 1);
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.GP{
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
}

.green{
	height: 10px;
	width: 180px;
	background-color: limegreen;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: 80px;
}

.pages{
	margin: -15px 60px 0px -150px;
}

.pages p{
	font-size: 14px;
}

.footer{
	max-width: 620px;
	margin: 0px auto;
}

.never p{
	max-width: 620px;
	margin-top: 20px;
	opacity: 0.7;
	font-size: 13px;
}

.captcha{
	margin-top: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 620;
}

.captcha img{
	margin-top: 10px;
}
.captcha a{
	display: flex;
	font-size: 10px;
	color: black;
	opacity: 0.6;
	margin-left: -5px;
}

.bottom-page{
	display: flex;
	flex-direction: row;
	margin: 5px;
	margin: -10px 20px;
}

.bottom-page p{
	margin-top: 20px;
	opacity: 0.6;
	font-size: 12px;
}

.bottom-page a{
	margin-top: 20px;
	color: black;
	opacity: 0.7;
	font-size: 12px;
}

.google{
	display: flex;
	justify-content: center;
}
.google p{
	margin-top: 20px;
	font-size: 20px;
	opacity: 0.7;
	font-weight: 500;
}

.report-img{
	margin-top: -25px;
	margin-left: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
}

@media (max-width: 600px) {
 	.info-box {
        height: auto;
    }

	.info-box h4{
        height: 50px;
	}

	.PAY-FEES{
	height: 190px;
	}

	.PAY-FEES input[type="radio"]{
	margin-top: 40px;

	.GP{
		width: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: -40px;
	}